
@import '../../constants/theme';
$menu-width: 190px;
.board {
  position: absolute;
  top: $touch-height *2;
  bottom: $player-height;
  width: 100%;

  .menu {
    width: $menu-width;
    float: left;
  }

  .body {
    margin-left: $menu-width;
    
  }
}