
@import '../../constants/theme';

$item-height: 40px;

.list {
  width: 100%;
  overflow: auto;

  .items {
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      width: inherit;
      height: $item-height;
      display: block;
      color: #000;
      padding-left: 10px;
      text-decoration: none;
      box-sizing: border-box;
      line-height: $item-height;
      overflow: hidden;

      .name {
        min-width: 200px;
        width: 40%;
      }

      .artist {
        color: $prominent-color;
        width: 20%;
      }

      .album {
        color: $prominent-color;
        width: 20%;
      }

      >div {
        width: 100%;
      }
      
      div {
        float: left;
      }

      &:hover {
        background-color: $button-hover-color;
      }
    }

    .item_active {
      background-color: $button-active-color;
      &:hover {
        background-color: $button-active-color;
      }
    }

    .item_play {
      .play_icon {
      }
    }
  }
}