
$font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$transition-main: all 900ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
$touch-height: 16px;
$player-height: 60px;

$box-off-line: 1px solid #e4e4e7;

$primary-color: #bc2f2e;
$prominent-color: #999;
$bg-color: #fff;
$primary-font-color: #fff;
$reverse-font-color: #000;
$button-active-color: #dddde1;
$button-hover-color: #e8e8eb;